services:
  auth-service:
    build: .
    ports:
      - "${GRPC_PORT}:${GRPC_PORT}"
    networks:
      - messanger-network
    restart: unless-stopped

  redis:
    image: redis:7.2.5-alpine3.20
    container_name: redis-auth-ratelimiter
    ports:
      - "${EXTERNAL_CACHE_PORT}:${INTERNAL_CACHE_PORT}"
    networks:
      - messanger-network

networks:
  messanger-network:
    external: true
